<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SchoolGame.Properties.Team2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SchoolGame.Properties.Team1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SchoolGame.Properties.Sound" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SchoolGame.Properties.General" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SchoolGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SchoolGame.Properties.Team2>
            <setting name="Team2Color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Team2Name" serializeAs="String">
                <value>Red Team</value>
            </setting>
            <setting name="Team2Font" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
        </SchoolGame.Properties.Team2>
        <SchoolGame.Properties.Team1>
            <setting name="Team1Color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Team1Name" serializeAs="String">
                <value>Blue Team</value>
            </setting>
            <setting name="Team1Font" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
        </SchoolGame.Properties.Team1>
        <SchoolGame.Properties.Sound>
            <setting name="EnableBackgroundMusic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableCorrectSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableWrongSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackgorundMusicFile" serializeAs="String">
                <value />
            </setting>
            <setting name="CorrectSoundFile" serializeAs="String">
                <value />
            </setting>
            <setting name="WrongSoundFile" serializeAs="String">
                <value />
            </setting>
        </SchoolGame.Properties.Sound>
        <SchoolGame.Properties.General>
            <setting name="TimeForAnswer" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DelayAfterAnswer" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ScoreDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GameOverDelay" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="TimerColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="GameName" serializeAs="String">
                <value>School Game</value>
            </setting>
            <setting name="BackgroundImage" serializeAs="String">
                <value />
            </setting>
            <setting name="TimerFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="QuestionPack" serializeAs="String">
                <value />
            </setting>
        </SchoolGame.Properties.General>
        <SchoolGame.Properties.Settings>
            <setting name="EnableBackgroundMusic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableCorrectSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableWrongSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeForAnswer" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DelayAfterAnswer" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ScoreDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GameOverDelay" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="BackgorundMusicFile" serializeAs="String">
                <value />
            </setting>
            <setting name="CorrectSoundFile" serializeAs="String">
                <value />
            </setting>
            <setting name="WrongSoundFile" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="Team1Color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Team2Color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="TimerColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Team1Name" serializeAs="String">
                <value>Blue Team</value>
            </setting>
            <setting name="Team2Name" serializeAs="String">
                <value>Red Team</value>
            </setting>
            <setting name="GameName" serializeAs="String">
                <value>School Game</value>
            </setting>
            <setting name="BackgroundImage" serializeAs="String">
                <value />
            </setting>
        </SchoolGame.Properties.Settings>
    </userSettings>
</configuration>