<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SchoolGame.Game.Properties.Sound" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SchoolGame.Game.Properties.General" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SchoolGame.Game.Properties.Sound>
            <setting name="EnableBackgroundMusic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableCorrectSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableWrongSound" serializeAs="String">
                <value>True</value>
            </setting>
        </SchoolGame.Game.Properties.Sound>
        <SchoolGame.Game.Properties.General>
            <setting name="TimeForAnswer" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DelayAfterAnswer" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ScoreDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GameOverDelay" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="QuestionPack" serializeAs="String">
                <value />
            </setting>
        </SchoolGame.Game.Properties.General>
    </userSettings>
</configuration>